@font-face {
  font-family: "Spec";
  src: url("fonts/spec/Spec-350.woff2") format("woff2"), url("fonts/spec/Spec-350.woff") format("woff"), url("fonts/spec/Spec-350.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Spec";
  src: url("fonts/spec/Spec-450.woff2") format("woff2"), url("fonts/spec/Spec-450.woff") format("woff"), url("fonts/spec/Spec-450.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Hairline.woff2") format("woff2"), url("fonts/Mega-Hairline.woff") format("woff"), url("fonts/Mega-Hairline.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Extralight.woff2") format("woff2"), url("fonts/Mega-Extralight.woff") format("woff"), url("fonts/Mega-Extralight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Thin.woff2") format("woff2"), url("fonts/Mega-Thin.woff") format("woff"), url("fonts/Mega-Thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Light.woff2") format("woff2"), url("fonts/Mega-Light.woff") format("woff"), url("fonts/Mega-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Regular.woff2") format("woff2"), url("fonts/Mega-Regular.woff") format("woff"), url("fonts/Mega-Regular.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Medium.woff2") format("woff2"), url("fonts/Mega-Medium.woff") format("woff"), url("fonts/Mega-Medium.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Bold.woff2") format("woff2"), url("fonts/Mega-Bold.woff") format("woff"), url("fonts/Mega-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Heavy.woff2") format("woff2"), url("fonts/Mega-Heavy.woff") format("woff"), url("fonts/Mega-Heavy.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Mega";
  src: url("fonts/Mega-Black.woff2") format("woff2"), url("fonts/Mega-Black.woff") format("woff"), url("fonts/Mega-Black.ttf") format("truetype");
  font-weight: 900;
}
