* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: #d20;
}
::selection {
  background: rgba(221,34,0,0.2);
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: #fff;
}
p,
table th,
table td {
  font: 500 14px/16px "Mega", system-ui, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 0.35px;
}
p {
  margin-bottom: 6px;
}
a {
  text-decoration: none;
}
a::after {
  content: "↗";
}
a:hover::after {
  animation: blink 0.1s step-end 0s forwards infinite;
}
h2 a:hover::after {
  content: "↗";
}
span.greyout {
  color: #f5cdca;
}
#gradient {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100vw;
  background: linear-gradient(to top, #f5cdca 0%, rgba(245,205,202,0.987) 8.1%, rgba(245,205,202,0.951) 15.5%, rgba(245,205,202,0.896) 22.5%, rgba(245,205,202,0.825) 29%, rgba(245,205,202,0.741) 35.3%, rgba(245,205,202,0.648) 41.2%, rgba(245,205,202,0.55) 47.1%, rgba(245,205,202,0.45) 52.9%, rgba(245,205,202,0.352) 58.8%, rgba(245,205,202,0.259) 64.7%, rgba(245,205,202,0.175) 71%, rgba(245,205,202,0.104) 77.5%, rgba(245,205,202,0.049) 84.5%, rgba(245,205,202,0.013) 91.9%, rgba(245,205,202,0) 100%);
}
#left {
  z-index: 2;
  padding: 10px;
  width: 100px;
  position: fixed;
  top: 0;
}
img#pira {
  width: 100%;
}
#right {
  z-index: 2;
  max-width: 700px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100vw - 100px);
}
table {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding: 0;
  border-collapse: collapse;
}
table th,
table td {
  vertical-align: top;
  border-bottom: 1px solid #f5cdca;
  padding: 2px 0;
  width: 50%;
}
@media (max-width: 600px) {
  #left {
    position: absolute;
    width: 100px;
    padding: 10px;
  }
  #right {
    left: 0;
    top: 110px;
    padding: 10px;
    width: 100vw;
  }
}
@media (max-width: 460px) {
  td.user,
  th.user {
    display: none;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
