* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  color: #a20;
  font-feature-settings: "ss02";
}
::selection {
  background: rgba(170,34,0,0.2);
}
::-webkit-scrollbar {
  display: none;
}
body {
  background: #fff;
}
h2 {
  font: 500 40px/1 "Spec", system-ui, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: -0.3px;
  transform: translateX(-0.5px);
}
p {
  font: 400 14px/1.2 "Spec", system-ui, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 6px;
}
a {
  text-decoration: none;
}
a::after {
  content: "↗";
}
a:hover::after {
  animation: blink 0.1s step-end 0s forwards infinite;
}
h2 a:hover::after {
  content: "↗";
}
#gradient {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100vw;
  background: linear-gradient(to top, #e6bdb3 0%, rgba(230,189,179,0.987) 8.1%, rgba(230,189,179,0.951) 15.5%, rgba(230,189,179,0.896) 22.5%, rgba(230,189,179,0.825) 29%, rgba(230,189,179,0.741) 35.3%, rgba(230,189,179,0.648) 41.2%, rgba(230,189,179,0.55) 47.1%, rgba(230,189,179,0.45) 52.9%, rgba(230,189,179,0.352) 58.8%, rgba(230,189,179,0.259) 64.7%, rgba(230,189,179,0.175) 71%, rgba(230,189,179,0.104) 77.5%, rgba(230,189,179,0.049) 84.5%, rgba(230,189,179,0.013) 91.9%, rgba(230,189,179,0) 100%);
}
#left {
  z-index: 2;
  padding: 10px;
  width: 100px;
  position: fixed;
  top: 0;
}
img#pira {
  width: 100%;
}
#right {
  z-index: 2;
  max-width: 700px;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 100px;
  width: calc(100vw - 100px);
}
#sites table {
  width: 100%;
  font: 400 14px/1.2 "Spec", system-ui, "Helvetica Neue", "Helvetica", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
  text-align: left;
  padding: 0;
  border-collapse: collapse;
}
#sites table th,
#sites table td {
  vertical-align: top;
  font-weight: 400;
  border-bottom: 1px solid #e6bdb3;
  padding: 2px 0;
  width: 50%;
}
@-moz-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
