@font-face
  font-family "Spec"
  src url("fonts/Spec-350.woff2") format("woff2"),
      url("fonts/Spec-350.woff") format("woff"),
      url("fonts/Spec-350.ttf") format("truetype")
  font-weight 400
@font-face
  font-family "Spec"
  src url("fonts/Spec-450.woff2") format("woff2"),
      url("fonts/Spec-450.woff") format("woff"),
      url("fonts/Spec-450.ttf") format("truetype")
  font-weight 500
